$light-blue: #58a1d8;
$light-blue-lighten-1: lighten($light-blue, 25%);
$light-blue-darken-1: darken($light-blue, 20%);

$light-gray: #dfe0e3;
$light-gray-lighten-1: #fafafa;
$light-gray-lighten-2: #fefefe;

$slate: #2c3e50;

$white: #fff;

$spacing-full: 600px;
$spacing-button: 30px;
$spacing-margin: 30px;
$spacing-quarter: 150px;
